@font-face {
	font-family: Anonymous Pro;
	src: url("assets/Anonymous_Pro/AnonymousPro-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #353F2D;
	overflow-y: scroll;
	font-family: 'Anonymous Pro'; font-size: 18px;
}


h1,
h2,
h3,
h4 {
	color: #2F0603;
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

footer {
	margin-top: 15%; margin-bottom: 15px; text-align: center;
}

button {
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
	vertical-align: middle;
}

img {
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

[href] {
	color: #070202;
}

[href]:visited {
	color:#170302;
}

[href]:hover {
	color:#A25539;
}

#homebtn {
	width: 64px;
	height: 64px;
	position: absolute;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
	margin-top: 5px;
}


#friend {
	height: 64px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
	margin: 8px;
}

.container {
	position: relative;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #839970;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev,
.next {
	background-color: #353F2D;
}

.prev:hover,
.next:hover {
	background-color: #070202;
}

.numbertext {
	color: #070202;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: #070202;
	padding: 2px 16px;
	color: #353F2D;
}

.slideRow:after {
	content: "";
	display: table;
	clear: both;
}

.slideColumn {
	float: left;
	width: 5%;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

.split-centered {
	display: flex;
	margin: 10%;
	justify-content: space-evenly center;
	text-align: center;
}


.center {
	text-align: center;
	justify-content: center;
}

.column {
	float: left;
	width: 33.33%;
	padding: 50px;
	text-align: center;
	font-size: 25px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;

}

.containerTab {
	padding: 20px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.closebtn {
	float: right;
	font-size: 35px;
}