@font-face {
	font-family: Anonymous Pro;
	src: url("assets/Anonymous_Pro/AnonymousPro-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #353F2D;
	overflow-y: scroll;
	font-family: 'Anonymous Pro'; font-size: 18px;
}


h1,
h2,
h3,
h4 {
	color: #2F0603;
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

footer {
	margin-top: 15%; margin-bottom: 15px; text-align: center;
}

button {
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

img {
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

[href] {
	color: #070202;
}

[href]:visited {
	color:#170302;
}

[href]:hover {
	color:#A25539;
}

#homebtn {
	width: 64px;
	height: 64px;
	position: absolute;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
	margin-top: 5px;
}


#doe {
	height: 64px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

#jae {
	height: 64px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

#sophie {
	height: 64px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

#lino {
	height: 64px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

#daffodil {
	height: 64px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

.split-centered {
	display: flex;
	margin-top: 10%;
	justify-content: space-evenly center;
	text-align: center;
}

.center {
	text-align: center;
	justify-content: center;
}

.column {
	float: left;
	width: 33.33%;
	padding: 50px;
	text-align: center;
	font-size: 25px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;

}

.containerTab {
	padding: 20px;
	border: 1px #070202 solid;
	box-shadow: 4px 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.closebtn {
	float: right;
	font-size: 35px;
}